*{
    margin: 0px;
    padding: 0px;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

a{
    text-decoration: none;
}
.confirm{
    display: none;
}
.resume{
    width: 80%;
    overflow: hidden;
    box-shadow: 15px 10px 20px black;
    margin: 0 auto;
    background-color: #FAFAFA;
   
    margin-top: 40px;
    margin-bottom:50px;
    padding-bottom: 20px;
}
.title{
    text-align: center;
    height: 60px;
    line-height: 60px;
}
.content{
    padding: 0 40px;
}

.personalInfor{
    position: relative;
    padding-bottom: 30px;
    border-bottom: 2px solid #000000;
}

.row-item{
    padding-bottom: 7px;
}
.personalInfor-head{
    background-color: #0B5C5A;
    margin-left: -10%;
    width: 120%;
    height: 200px;
}
.personalInfor-detail{
    height: 250px;
    position: relative;

}
.my-message{
    margin-top:-55px;
    width: 100%;
    height: 100%;
    text-align: center;
}
.name{
    font-size: 25px;
    font-weight: 100px;
    margin-left: 15px;
}
.job{
    font-size: 20px;
    font-weight: 100px;
    margin-left: 25px;
    margin-top: 7px;

}
.age-and-position{
    color: #777777;
    margin-top: 7px;
}
.connection{
    color: #777777;
    display: flex;
    justify-content: center;
}
.my-photo{
    left: 50%;
    right: 50%;
    height: 150px;
    padding: 2px;
}
.my-photo img{
    height: 150px;
    width: 150px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    padding: 2px;
    border: 1px solid #f4fff0;
    background-color: #fafafa;
    
}
.age::before{
    content:"";
    display:inline-block;
    width:16px;
    height:16px;
    margin-right: 8px;
    background-image: url("./img/age.png");
    background-repeat:no-repeat;
}
.position{
    margin-left: 10px;
}
.position::before{
    content: "";
    display:inline-block;
    width:16px;
    height:16px;
    margin-right: 8px;
    background-image: url("./img/position.png");
    background-repeat:no-repeat;
}
.phone::before{
    content: "";
    display:inline-block;
    width:16px;
    height:16px;
    margin-right: 8px;
    background-image: url("./img/phone.png");
    background-repeat:no-repeat;
}
.wechat{
    margin-left: 30px;
}
.wechat::before{
    content: "";
    display:inline-block;
    width:16px;
    height:16px;
    margin-right: 8px;
    background-image: url("./img/wechat.png");
    background-repeat:no-repeat;
}
.email{
    margin-left: 30px;
}
.email::before{
    content: "";
    display:inline-block;
    width:16px;
    height:16px;
    margin-right: 8px;
    background-image: url("./img/email.png");
    background-repeat:no-repeat;
}


.enjoy{
    margin-top: 12px;
    padding-bottom: 8px;
    border-bottom: 2px solid black;
}

.head{
    margin-bottom: 8px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.education{
    
    margin-top: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 7px;
}

.skill{
    margin-top: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 7px;
}

.skill-list{
   margin-bottom: 7px;
}

.skill-item{
    list-style-type: none;
    padding:4px 0px;
}

.work-experience{
    margin-top: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 7px;
}
.experience-item{
    margin: 30px 0;
}
.experience-introduce{
    margin-top: 8px;
}
.project-experience{
    padding-bottom: 7px;
    margin-top: 20px;
    border-bottom: 2px solid black;
}
.personal-evaluation{
    margin-top: 20px;
}

.personal-evaluation-list{
    list-style: none;
}

.personal-evaluation-item{
    margin-top: 5px;
}